// SIZES
// ============================================
$header-size: 3.7rem;

// ============================================
// FONTS
// ============================================

$font-serif: "Noto Serif";
$font-sans: "Open Sans";
$font-cursive: "Kaushan Script";

// ============================================
// COLORS
// ============================================

$gray1: #333333;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #bdbdbd;
$gray5: #e0e0e0;
$gray6: #f2f2f2;
