// LAYOUT FOOTER
// ===============================

.page-footer {
  width: 100%;
  position: relative;
  top: $header-size;
  @media screen and (min-width: 1300px) {
    top: calc(#{$header-size} + 4rem);
  }
  &--fixed {
    position: fixed;
    top: initial;
    bottom: 0;
    @media screen and (max-height: 484px) {
      position: relative;
      top: $header-size;
    }
    @media screen and (min-height: 750px) {
      bottom: 1em;
    }
  }
  &--contact {
    position: fixed;
    top: initial;
    bottom: 0;
    @media screen and (max-height: 800px) {
      position: relative;
      top: $header-size;
    }
    @media screen and (min-height: 750px) {
      bottom: 1em;
    }
  }
}
